.main_nav_div{
    width: 100%;
    display: flex;
   background-color: #6d8da1;
   padding-right: 0px;
}
#product{
    font-size: 1.4rem;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffff;
}
#productdiv{
    padding: 15px;
    margin-right: 20px;
    margin-left: 13%; 
}
.div_nav_top{
    padding: 15px;
    font-weight:600;
    color:white;
    padding-left: 25px;
    padding-right: 25px;
    flex-direction: row;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;

}
.main_div{
    background-color: #394f66;
}
.div_nav{
    padding-left: 100px;
}
.icons{
    margin-left: 23px;
    margin-bottom: 0px;
   font-size: 30px;
   margin-top: 10px;
}
.div_nav_top a{
    text-decoration: none;
    color: white;
}
.div_nav_top li{
   list-style-type: none;
}
#dashboards{
 
background-color: #f5a627;

}
.div_nav_top:hover{
    color: #f5a628;
}
.div_nav_top li:hover{
    color:#f5a626;
}
#login{
    color: #ffff;
    padding: 15px;
    flex-direction: row;
    margin-top: 27px;
    margin-left: 50px;
    margin-right: 100px;
    text-decoration: none;
}
.div_nav_top:focus{
    background-color: #f5a633;
}
.footer{
    padding: 20px;
    margin-top: 30px;
    background-color:  #6d8da4;
}
.footer p{
    color: white;
    text-align: center;
}
.body{
    background-color: #394f64;
     position: fixed; 
}
 .body_first{
    padding-bottom:91%;
    padding-top: 20px;
    color: #fff !important;
    
}
.body_first p{
    margin-top: 40px;
    margin-left: 15%;
}
select{
    box-sizing: content-box;
    text-indent: 15%;
    line-height: 86px;
    border: none;
    background-color:#6d8da6;
    color: #ffff;
    
}
select li{
    margin: 30%;
}
option{
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 16px;
}

#report option:hover{
color: #f5a626;
}

select:hover{
    color: #f5a624;
}


.chartsdiv{
    margin-left: 40px;
    margin-top: 40px;
    background-color: #394f62;
    margin-right: 240px;
}
.chartsdiv Chart{
    color: #ffff;
}
#chartmain{
    display: flex;
}
.chart{
    display: grid;
    margin-left: 150px;
    margin-right: 150px;
    grid-template-columns: repeat(2,1fr);
}