.Admin_div{
    color: white;
    width: 450px;
    margin-left: 36%;
   
    padding-top: 30px;
    padding-bottom: 40px;
    
}
.Admin_main_div{
   
    margin-top: 20%;
    background-color: #567089;
    
}
.footer{
    padding: 20px;
    margin-top: 30px;
    background-color:  #6d8da9;
}
.footer p{
    color: white;
    text-align: center;
}
.upass{
    border: none;
    padding-right:44%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 28px;
    margin-right: 28px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #567096;
}
input[type="text"]{
   border: none;
color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
   
}
.logs{
   
    width: 385px;
    border: none;
    padding-right:19%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 28px;
    /* margin-right: 28px; */
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #f5a627;
    text-align: center;
    color: #ffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
    padding-left: 80px;
}

form{
    background-color: #394f62;
    margin-top: 30px;
    padding-bottom: 30px;
}
label{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
 padding-left: 25px;
}
.Admin p{
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-left: 10px;
  padding-top: 40px;
}
.mainnav{
    width: 100%;
    display: flex;
    position: fixed;
   background-color: #6d8da6;
   padding-right: 0px;
}
#product{
    font-size: 1.4rem;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}
#productdiv{
    padding: 15px;
    margin-right: 20px;
    margin-left: 12%; 
}
.nav_top{
    padding: 15px;
    font-weight:500;
    color:white;
    padding-left: 25px;
    padding-right: 25px;
    flex-direction: row;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;

}
.main_div{
    background-color: #394f62;
}
.nav{
    padding-left: 100px;
}
.icon{
    margin-left: 21px;
    margin-bottom: 0px;
   font-size: 30px;
   margin-top: 10px;
}
.icon:hover{
    color: white;
}
.nav_top a{
    text-decoration: none;
    color: white;
}
.nav_top a:hover{
    color: #fff;
}
.nav_top li{
   list-style-type: none;
}
#dashboard{
 
background-color: #f5a623;

}
#dashboard:hover{
    color: #fff;
}
.nav_top:hover{
    color: #f5a627;
}
.nav_top li:hover{
    color:#f5a627;
}
#login{
    color: #fff;
    padding: 15px;
    flex-direction: row;
    margin-top: 28px;
    margin-left: 50px;
    margin-right: 100px;
    text-decoration: none;
}
.body{
    background-color: #394f62;
     position: fixed; 
}
 .body_first{
    padding-bottom:90%;
    padding-top: 20px;
    color: #fff !important;
    
}
.body_first p{
    margin-top: 40px;
    margin-left: 15%;
}
select{
    box-sizing: content-box;
    text-indent: 15%;
    line-height: 82px;
    border: none;
    background-color:#6d8da6;
    color: #fff;
    
}
select li{
    margin: 30%;
}
option{
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 17px;
}

#report option:hover{
color: #f5a625;
}

select:hover{
    color: #f5a625;
}